<div class="container">
  <div class="card text-white bg-warning mb-3" style="max-width: 100rem;">
    <div class="card-header">Header</div>
    <div class="card-body">
      <div>
        <div class="form-group">
          <label>Matricule</label>
          <input type="text" [(ngModel)]="etudiant.matricule" class="form-control">
        </div>
        <div class="form-group">
          <label>Nom Complet</label>
          <input type="text" [(ngModel)]="etudiant.nomComplet" class="form-control">
        </div>
        <div class="form-group">
          <label>Libelle</label>
          <select name="" id="" class="form-control">
            <option value="">Choix</option>
           <option *ngFor="let c of classes" value={{c.id}}>{{c.libelle}}</option>
          </select>
        </div>
        <div class="form-group">
          <label>Mensualite</label>
          <input type="text" [(ngModel)]="classe.mensualite" class="form-control">
        </div>
        <div class="form-group">
          <label>Montant</label>
          <input type="text" [(ngModel)]="classe.montant_ins" class="form-control">
        </div>
        <div class="form-group">
          <label>Année Academique</label>
          <input type="text" [(ngModel)]="inscription.annee" class="form-control">
        </div>
        <button class="btn btn-outline-success" (click)="ins()"></button>

      </div>
    </div>
  </div>
</div>
